<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bncrpdf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e341bf5c-197c-47db-8f13-93380ebec101/resourceGroups/AZ204Group/providers/Microsoft.Web/sites/BNCRPDF</ResourceId>
    <ApiResourceId>/subscriptions/e341bf5c-197c-47db-8f13-93380ebec101/resourceGroups/AZ204Group/providers/Microsoft.ApiManagement/service/FunctionAppGenerarPDFapi/apis/FunctionAppGenerarPDF</ApiResourceId>
    <PublishUrl>https://bncrpdf.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>